<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <ul id="document-menu">
        <li><a href="/create">Skapa dokument</a></li>
    </ul>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/<%= doc.id %>"><%= doc.title %></a> - <a href="/update/<%= doc.id %>">Uppdatera</a></h3>
    <% }); %>
<%- include('includes/footer'); %>