<%- include('../includes/header'); %>
    <a href="/">Visa samtliga dokument</a>
    <h2>Dokument #<%= doc.id %></h2>
    <form method="POST" action="/document?_method=PUT" class="new-doc">

        <input type="hidden" name="id" value="<%= doc.id %>" enctype="application/x-www-form-urlencoded">

        <label for="title">Titel</label>
        <input type="text" name="title" value="<%= doc.title %>" />

        <label for="content">Innehåll</label>
        <textarea name="content"><%= doc.content %></textarea>

        <input type="submit" value="Uppdatera" />
    </form>
<%- include('../includes/footer'); %>